#root {
  width: 100vw;
  margin: 0;
  text-align: center;
}

body {
  min-width: 100vw;
}

.containerColumn {
  display: flex;
  flex-direction: column
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: .4em .2em;
  padding: .2em;
}

.inputLine {
  display: flex;
  justify-content: space-between
}