.button-group {
  position: relative;
}

.button-group .button {
  position: absolute;
  top: -13rem;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 5px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.arrow-hover:hover .button-group .button{
  transform: translateY(-50%) scale(1.3);
  opacity: 1;
}

.material-symbols-outlined {
  font-size: 3rem;
  color: var(--cafeNoir);
}

.isHome .left {
  left: -0.5rem;
}

.isHome .right {
  right: -1.5rem;
}
.isDetails .button {
  top: -10rem;
}
.isDetails .left {
  left: -2rem;
}

.isDetails .right {
  right: -3rem;
}

.profile-icon {
  color: var(--leafGreen); 
}
.width {
  width: 75%;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1a202c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}