@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --calPolyGreen: #2A4A1c;
  --cafeNoir: #3C2F16;
  --fireEngineRed: #c41D1D;
  --resedaGreen : #717F4A;
  --darkMossGreen: #4F5A20;
  --sage: #C4BB97;
  --alabaster: #F0ECE2;
  --skyBirdBlue: #99C0DD;
}


.primary-color {
  background-color: var(--sage);
  color: black;
}
.secondary-color {

}
.background-color, :root{
  background-color: var(--resedaGreen);
  color: black;
}
.surface-color {
  background-color: var(--darkMossGreen) ;
  color: var(--alabaster);
}
.view-button {
  color: var(--darkMossGreen);
}
.submit-button {
  color: var(--skyBirdBlue)
}
.error-button {
  background-color: #C41D1D;
  color: var(--alabaster);
}
.error-text {
  color: #C41D1D;
}
.react-multi-carousel-list {
  background-color: var(--da); 
}
/* carouselOverrides.css */
.react-multi-carousel-arrow {
  background-color: #333; /* Change background color */
  border-radius: 50%; /* Make arrows round */
  padding: 10px; /* Add padding */
  width: 40px; /* Set width */
  height: 40px; /* Set height */
}

.react-multi-carousel-arrow--left {
  left: -20px; /* Move the left arrow */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust centering */
}

.react-multi-carousel-arrow--right {
  right: -20px; /* Move the right arrow */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust centering */
}





body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* .app-background-color {
  background-color: #3c2f16;
}
.navbar-bg {
  background-color: #C4BB97;
} */



